/*Обнуление стилей*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Стили обнулены!*/

@font-face {
  font-family: "Roboto-Regular";
  src: url(../font/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../font/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
.page {
  margin: auto;
}
.header {
  width: 100%;
}
.logo-main {
  background-color: #4f4f4f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3%;
}
.header-logo,
.footer-logo {
  max-width: 18%;
}
.main {
  display: flex;
  gap: 5%;
  font-family: "Roboto-Bold";
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.nav-link,
.stock-title,
.streaming-title {
  color: #ffffff;
  text-transform: uppercase;
}
.form-button {
  font-family: "Roboto-Bold";
  font-size: 20px;
}
.record-button {
  padding: 10px 25px;
  border-radius: 20px;
}
.record-button:hover,
.record-button:active {
  background-color:#c7c4c4 ;
}
.banner {
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* padding: 400px 0; */
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 0;
}
.banner::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}
.title,
.price {
  font-family: "Roboto-Bold";
}
.header-title {
  font-size: 80px;
  padding-top: 300px;
}
.stock-title {
  font-size: 102px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.stock-text {
  font-family: "Roboto-Regular";
  font-size: 20px;
  padding-bottom: 150px;
}
.content {
  max-width: 1660px;
  margin: auto;
  text-align: center;
}
.service-price
{
  text-align: center;
  align-items: center;
  padding: 150px 20% 20px 20%;
  justify-content: center;
}
.service-title {
  font-size: 42px;
}
.subtitle {
  font-family: "Roboto-Regular";
  font-size: 24px;
  padding-top: 25px;
  padding-bottom: 60px;
}
.service-conteiner {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  justify-content: space-between;
  gap: 2%;
}
.service-box {
  width: 48%;
}
.service-box:nth-child(1n + 3) {
  margin-top: 1%;
}
.title-price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.servis-info {
  font-size: 16px;
  margin-top: 1%;
}
.price-button {
  border: solid 3px #000;
  padding: 10px 30px;
}
.price-button:hover,
.price-button:active {
  background-color:#c7c4c4 ;
}
.full-price {
  margin-top: 40px;
}
.photo-conteiner {
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  position: relative;
}
.photo-img:nth-child(1n + 4) {
margin-top: 1%;
}
.photo-img {
  width: calc((100% - 2%) / 3);
}
.photo {
  width: 100%;
}
.streaming {
  width: 40%;
  margin: auto;
  background-color: #000;
  padding: 20px 30px;
}
.footer {
  padding-top: 200px;
  background-color: #000;
  text-align: center;
}
.number, 
.post-address,
.contacts-text,
.address-coment,
.we {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: #b8b7b7;
}
.contacts-text {
  margin-top: 15px;
  margin-bottom: 10px;
}
.post {
  margin-bottom: 30px;
}
.we {
  font-family: "Roboto-Bold";
  font-size: 24px;
}
.telephon {
  margin-top: 25px;
}
.address-coment {
  line-height: 2;
} 
.vk {
  width: 70px;
}