/*Обнуление стилей*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Стили обнулены!*/

@font-face {
  font-family: "Roboto-Regular";
  src: url(../font/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../font/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
.page {
  margin: auto;
}
.header {
  width: 100%;
}
.logo-main {
  background-color: #4f4f4f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 3%;
  position: fixed;
  z-index: 50;
}
.header-logo,
.footer-logo {
  max-width: 15%;
}
.header-main {
  margin: auto;
}
.main {
  display: flex;
  gap: 3%;
  font-family: "Roboto-Bold";
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.nav-link,
.stock-title,
.streaming-title {
  color: #ffffff;
  text-transform: uppercase;
}
.price-link,
.link-record {
  color: #000;
}
.form-button {
  font-family: "Roboto-Bold";
  font-size: 20px;
}
.record-button {
  padding: 10px 25px;
  border-radius: 20px;
}
.record-button:hover,
.record-button:active {
  background-color: #c7c4c4;
}
.banner {
  background-image: url(../image/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 0;
}
.banner::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}
.title,
.price {
  font-family: "Roboto-Bold";
}
.header-title {
  font-size: 80px;
  padding-top: 200px;
}
.stock-title {
  font-size: 102px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.stock-text {
  font-family: "Roboto-Regular";
  font-size: 20px;
  padding-bottom: 150px;
}
.content {
  max-width: 1660px;
  margin: auto;
  text-align: center;
}
.service-price {
  text-align: center;
  align-items: center;
  padding: 50px 20% 20px 20%;
  justify-content: center;
}
.service-title {
  font-size: 42px;
}
.subtitle {
  font-family: "Roboto-Regular";
  font-size: 24px;
  padding-top: 25px;
  padding-bottom: 60px;
}
.service-container {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  justify-content: space-between;
  gap: 2%;
}
.service-box {
  width: 48%;
}
.service-box:nth-child(1n + 3) {
  margin-top: 1%;
}
.title-price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.service-info {
  font-size: 16px;
  margin-top: 1%;
}
.price-button {
  border: solid 3px #000;
  padding: 10px 30px;
}
.price-button:hover,
.price-button:active {
  background-color: #c7c4c4;
}
.full-price {
  margin-top: 40px;
}
.photo-container {
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  position: relative;
}
.photo-img:nth-child(1n + 4) {
  margin-top: 1%;
}
.photo-img {
  width: calc((100% - 2%) / 3);
}

.photo {
  width: 100%;
}
.photo:hover {
  transform: scale(1.5);
}
.streaming {
  width: 40%;
  margin: auto;
  background-color: #000;
  padding: 20px 30px;
}
.cam-text {
  font-family: "Roboto-Regular";
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cam-text::before,
.cam-text::after {
  content: "";
  border-bottom: solid #000 1px;
  display: block;
  margin: auto;
  width: 90%;
}
.cam-text::before {
  margin-bottom: 50px;
  margin-top: -75px;
}
.cam-text::after {
  margin-top: 50px;
}
.cam-container {
  display: flex;
  justify-content: center;
}
.cam {
  width: 45%;
}
.slider-title {
  font-size: 42px;
  margin-top: 15px;
}
.title-autor {
  margin-top: 20px;
  margin-bottom: 7px;
}
.source {
  margin-bottom: 16px;
}
.slider {
  width: 80%;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.slides {
  margin-top: 50px;
  width: 700%;
  display: flex;
  padding-bottom: 10%;
}
.slider-navigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.bar:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}
.slide {
  width: calc(100% / 7) ;
  transition: all 0.6s ease;
}
#r1:checked ~ .s1 {
  margin-left: 0%;
}
#r2:checked ~ .s1 {
  margin-left: -14.3%;
}
#r3:checked ~ .s1 {
  margin-left: -28.6%;
}
#r4:checked ~ .s1 {
  margin-left: -42.9%;
}
#r5:checked ~ .s1 {
  margin-left: -57.2%;
}
#r6:checked ~ .s1 {
  margin-left: -71.5%;
}
#r7:checked ~ .s1 {
  margin-left: -85.8%;
}
.slide-text {
  width: 100%;
}
.footer {
  padding-top: 50px;
  background-color: #000;
  text-align: center;
}
.number,
.post-address,
.contacts-text,
.address-coment,
.we,
.slide-text {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: #b8b7b7;
}
.contacts-text {
  margin-top: 15px;
  margin-bottom: 10px;
}
.post {
  margin-bottom: 30px;
}
.we {
  font-family: "Roboto-Bold";
  font-size: 24px;
}
.telephon {
  margin-top: 25px;
}
.address-coment {
  line-height: 2;
}
.vk {
  width: 70px;
}
.right {
  background-color: #4f4f4f;
  text-align: center;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.text-right {
  width: 100%;
  font-family: "Roboto-Regular";
  color: #ffffff;
  font-size: 16px;
  margin-left: 8%;
}
/* .up {
  width: 10%;
  margin-left: auto;
} */
/* .up-link {
  color: #000;
  font-family: 'Roboto-Regular';
}  */

@media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
.main {
  font-size: 1.5vw;
}
.service-price {
  padding: 50px 5% 20px 5%;
}
.service, 
.price,
.service-info {
  font-size: 2vw;
}
.service-container {
  gap: 3%;
}
.photo-img {
  width: calc(99%/2);
}
.photo-img:nth-child(1n + 3) {
  margin-top: 1%;
}
.photo-img:nth-child(15) {
  margin: auto;
  margin-top: 1%;
}
.photo:hover {
  transform: scale(1.2);
}
}
@media (max-width: 767px) and (orientation: portrait) {
  body.lock {
    overflow: hidden;
  }
  .logo-main {
    width: 100%;
  }
  .logo-main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4f4f4f;
    z-index: 2;
    }
  .header-main {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 32%;
  background-color: #4f4f4f;
  padding: 90px 0 0 0;
  transition: all 0.3s ease 0s;
  overflow: auto;
  }
  .header-main.active {
    top: 0;
  }
  .main {
    display: block;
  }
  .header-list {
    margin: 0 0 10px 0;
  }
  .burger {
    display: block;
    position: relative;
    width: 23px;
    height: 19px;
    margin-left: 35%;
    order: 3;
    margin-left: 0%;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
  .burger.active span{
    transform: scale(0);
  }
  .record {
    margin-left: 50%;
    margin-right: 15px;
    z-index: 3;
  }
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0px;
  }
  .burger.active::before {
    transform: rotate(45deg);
    top: 8px;
  }
  .burger::after {
    bottom: 0px;
  }
  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
  .nav-burger {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    top: 8px;
  }
  .header-title,
  .stock-title {
    font-size: 10vw;
  }
  .service-price {
    padding: 50px 5% 20px 5%;
  }
  .service-container, 
  .photo-container {
    flex-direction: column;
    gap: 2vw;
  }
  .photo:hover {
    transform: scale(1.02);
  }
  .header-logo {
    z-index: 3;
  }
  .logo-image,
  .footer-logo {
    width: 30vw;
  }
  .service-box {
    width: 100%;
  }
  .photo-img {
    width: 100%;
  }
  .record-button {
    padding: 5px;
  }
  .cam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .cam {
    width: 100%;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  body.lock {
    overflow: hidden;
  }
  .logo-main {
    width: 100%;
    height: 80px;
  }
  .logo-main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4f4f4f;
    z-index: 2;
    }
  .header-main {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: #4f4f4f;
  padding: 100px 0 0 0;
  transition: all 0.3s ease 0s;
  overflow: auto;
  }
  .header-main.active {
    top: 0;
  }
  .main {
    display: block;
  }
  .header-list {
    margin: 0 0 10px 0;
  }
  .burger {
    display: block;
    position: relative;
    width: 23px;
    height: 19px;
    margin-left: 35%;
    order: 3;
    margin-left: 0%;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
  .burger.active span{
    transform: scale(0);
  }
  .record {
    margin-left: 50%;
    z-index: 3;
  }
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0px;
  }
  .burger.active::before {
    transform: rotate(45deg);
    top: 8px;
  }
  .burger::after {
    bottom: 0px;
  }
  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
  .nav-burger {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    top: 8px;
  }
  .header-title,
  .stock-title {
    font-size: 10vw;
  }
  .service-price {
    padding: 50px 5% 20px 5%;
  }
  .service-container, 
  .photo-container {
    flex-direction: column;
    gap: 2vw;
  }
  .photo:hover {
    transform: scale(1.02);
  }
  .header-logo {
    z-index: 3;
  }
  .logo-image,
  .footer-logo {
    width: 30vw;
  }
  .service-box {
    width: 100%;
  }
  .photo-img {
    width: 100%;
  }
  .record-button {
    padding: 5px;
  }
  .cam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .cam {
    width: 100%;
  }
}
